{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

<h1 align="center">Goals</h1>
<ul class="list-group list-group-flush" id="goals">
    <h3>Your goals:</h3>
    {% for goal in goals %}
    <li class="list-group-item">
        <h4>{{goal[1]}}</h4>
        {{goal[2]}}
        <br/><br/>
        <a href="{{ url_for('views.edit', goal_id=goal[0]) }}">
            <button class="btn btn-info">Edit</button>
        </a>
        <form method="post" style="display:inline-block" action="{{ url_for('views.delete', goal_id=goal[0])}}">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
        </form>
        <a href="{{ url_for('views.comments', goal_id=goal[0]) }}">
            <button class="btn btn-secondary">Comments</button>
        </a>
    </li>
    {% endfor %}
</ul>
<br/>
<form method="POST">
    <h3>Add a new Goal!</h3>
    <label for="title">Title:</label>
    <textarea name="title" id="title" placeholder="Goal title" class="form-control"></textarea>
    <br/>
    <label for="description">Description:</label>
    <textarea name="description" id="description" placeholder="Describe your goal" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Goal</button>
    </div>
    <br/>
{% endblock %}